*{
  margin: 0px;
}
body{
	font-family: Poppins;
	display: flex;
	background-color: #4287f5;
}
.login-wrapper{
	margin-left: 100px;
	margin-top: 180px;
}
.login-page {
  /*width: 400px;*/
  padding: 30px;
}
h3{
  margin-bottom: 20px;
}
.mr{
	padding-left: 80px;
}
.form {
  background-color: ;
  padding: 45px;
  text-align: center;
  border-radius: 30px;
}
.color-form-2{
  background-color: #69db93;
}
.form input {
  font-family: FontAwesome;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 14px;
  border-radius:10px;
}
.login-button {
  font-size: 14px;
  font-weight: bold;
  outline: 0;
  background: #C10C99;
  width: 100%;
  border: 0;
  border-radius:30px;
  margin: 0px 0px 8px;
  padding: 15px;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  transition: all 0.2s;
}

.form .login-button:hover,.form .login-button:focus {
  background: #C10C99;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}
.icons{
  padding-right: 10px;
}
.fas{
  margin-top: 10px;
  margin-bottom: 10px;

  }
/*@media (max-width: )